.container {
  width: 100%;
}

.header {
  height: 200px;
  color: white;
}

table {
  table-layout: fixed;
  width: 800px;
}

table tr, td, th {
  padding: 10px;
}

td, th {
  width: 150px;
}

.header a {color: white;}

#about-col {
  background-color: #1C7C54;
}

#divisions-col {
  padding: 0;
}

#divisions-col .top {
  padding: 15px;

}

#divisions-col .main {
  background-color: #88D498;
  width: 100%;
  padding: 15px;
  margin-top: 0;
  height: 800px;
  overflow: auto;
}

#reporter-col {
  background-color: #ADEEE3;
}


.toggleSwitch {
  width: 20px;
}


li, ul  {
  /*padding-left: 10px;*/
  list-style: square;

}
