.container {
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 5em;
  color: white;
  text-align: right;
}

.col-md-2 {
  margin: 10px 0 10px 0;
}

.header {
  height: 250px;
  color: white;
}

table {
  table-layout: fixed;
  width: 800px;
}

table tr, td, th {
  padding: 10px;
}

td, th {
  width: 150px;
}

.container a {color: black;}
.header a {color: white;}

#about-col {
  background-color: #1C7C54;
}

#divisions-col {
  padding: 0;
}

#divisions-col .top {
  padding: 15px;

}

#divisions-col .main {
  background-color: #88D498;
  width: 100%;
  padding: 15px;
  margin-top: 0;
  height: 800px;
  overflow: auto;
}

#reporter-col {
  background-color: #ADEEE3;
}


.toggleSwitch {
  width: 20px;
}

.divisionList {
  margin-top: -20px;
}

.divisionsList ul {
  list-style: none;
}

li.reportersList  {
  /*padding-left: 10px;*/
  list-style: square;

}
