<div class="row">
  
  <div class="col-md-3">
    <h1>The Epicodus Times' Division Tracker</h1>

    <h3>Add a Division</h3>
    <form ng-submit="DivisionsFactory.addDivision()" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="DivisionsFactory.divisionName" class="form-control" placeholder="New Division Name">
      </div>
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
    </form>
  </div>

  <div ui-view></div>

</div>
